#header-nav {
  background-color: #999999;
  border-radius: 0;
  border: 0;
}
#header-nav .navbar-brand a{
  color: #ccc;
  font-weight: bold;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

h1{
	text-align: center;
}

h2{
	text-align: center;
	padding-top: 20px;
}

p{
	padding: 20px;
}

.section {
	background: #999999;

}
